/* Variables */

:root {
    --main: #069bf7;
    --second: rgba(240, 249, 255);
    --dark: #505050;
    --light: #ffffff;
}



/* Global */
@font-face {
    src: url(../fonts/Poppins-Bold.ttf);
    font-family: Poppins-Bold;
}

@font-face {
    src: url(../fonts/Poppins-SemiBold.ttf);
    font-family: Poppins-SemiBold;
}

@font-face {
    src: url(../fonts/Poppins-Medium.ttf);
    font-family: Poppins-Medium;
}

@font-face {
    src: url(../fonts/NeoSans-regular.ttf);
    font-family: NeoSans;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--main);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
}

::-webkit-scrollbar-thumb:window-inactive {
    background-color: var(--main);
}

a {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

body {
    color: var(--dark);
    background-color: var(--second);
    padding: 0px !important;
    margin: 0px !important;
    font-family: 'ANTQUAB';
    -webkit-font-smoothing: antialiased !important;
    font-size: 14px;
    line-height: 1.42857143;
    height: 100%;
    overflow: hidden;
    position: relative;
    font-family: Poppins-Medium;
}

main {
    height: 100%;
    width: 100%;
}

/*** Start Navbar Style ***/
header .navbar {
    background-color: var(--main);
    border-bottom: 2px solid var(--light);
    padding: 0;
    margin: 0;
}

header .navbar-brand img {
    width: 100%
}

header .navbar-brand {
    width: 185px;
    background-color: var(--light);
    padding: 5px 21px;
}

/**** Translate style ****/
.translate_wrapper {
    position: absolute;
    z-index: 1024;
    font-size: 12px;
    background: var(--light);
    border-radius: 4px;
    right: 25px;
}

.current_lang {
    cursor: pointer;
    text-transform: uppercase;
    overflow: hidden;
}

.lang {
    padding: 6px 5px;
}

.lang.selected {
    display: none;
}

.lang img,
.lang span.lang-txt {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}

.lang span.lang-txt {
    position: relative;
    top: -1px;
    font-weight: 700;
}

.lang img {
    width: 16px;
    margin-left: 0;
}

.lang span span {
    color: #999;
    font-weight: 400;
}

.lang span.fa {
    font-size: 12px;
    position: relative;
    top: -1px;
    margin-left: 3px;
}


/*more lang*/
.more_lang {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
    cursor: pointer;
    display: none;
    -webkit-transition: all .3s cubic-bezier(.25, 1.15, .35, 1.15);
    transition: all .3s cubic-bezier(.25, 1.15, .35, 1.15);
}

.translate_wrapper.active .more_lang {
    display: block;
}

.more_lang.active {
    opacity: 1;
    -webkit-transform: translateY(-0px);
    transform: translateY(-0px);
}

.more_lang .lang:hover {
    background: #5766b2;
    color: var(--light);
}

.more_lang .lang:hover span {
    color: var(--light);
}

.translate_wrapper:hover,
.translate_wrapper.active,
.content a:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 15px;
    -webkit-transition: all 0.3s cubic-bezier(0, .99, .44, .99);
    transition: all 0.3s cubic-bezier(0, .99, .44, .99);

}

.translate_wrapper.active .lang {
    border-bottom: 1px solid #eaeaea;
}

/*** Form Builder ***/

.form_builder {
    height: calc(100% - 75px);
    overflow: hidden;
    overflow-y: auto;
    padding-left: 50px;
}

.form_builder_field {
    margin: 15px 0;
    padding: 15px;
    background: var(--light);
    width: 100% !important;
    height: auto !important;
    border: 1px solid #eee;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(214, 214, 214, .55);
    box-shadow: 0px 0px 2px 1px rgba(214, 214, 214, .55);
    border-radius: 5px;
    cursor: all-scroll;
}

.placeholder {
    width: 100%;
    background-color: rgba(6, 155, 247, .3);
    border: 1px dashed var(--light);
    margin-bottom: 5px;
}

.form_builder_area {
    width: 100%;
    min-height: 90vh;
    position: relative;
}

.accordion > .card > .card-header {
    padding: 0
}

.accordion .btn-link {
    position: relative;
    padding: 5px 10px;
}

.remove-field {
    position: absolute;
    top: 9px;
    right: 5px;
    color: #f00;
    border: 1px solid #f00;
    padding: 1px 4px;
    font-size: 10px;
    border-radius: 4px;
}

.remove-field:hover {
    color: #f00;
}

.header-title {
    color: var(--dark);
    font-size: 14px;
}

.btn-link:hover,
.header-title:hover {
    text-decoration: none
}

.btn.focus,
.btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none
}

.header-title i {
    color: var(--main);
}

.form-control {
    height: 38px;
    background: #F1F1F1;
    font-size: 13px;
    color: #2E2E2E;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 6px;
    border-color: #D6D6D6;
}

.form-control:focus {
    background-color: var(--light);
    border-color: var(--main);
    -webkit-box-shadow: none;
    box-shadow: none
}

.preview {
    padding-top: 15px;
}

.form-check-input {
    margin-top: 0.34rem;
}

.mt-radio,
.mt-checkbox {
    display: block;
}

.mt-radio p,
.mt-checkbox p {
    display: inline;
}

textarea.form-control {
    height: 40px;
    max-height: 100px
}

a#menu-toggle {
    color: var(--light);
    border: 1px solid var(--light);
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 17px;
}

#wrapper {
    padding-right: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 999;
    position: fixed;
    left: 50px;
    width: 50px;
    height: 100%;
    margin-left: -50px;
    overflow-y: auto;
    background: var(--light);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-right: 1px solid #d8d8d8;
    -webkit-box-shadow: 1px 2px 1px 1px rgba(212, 212, 212, 0.9);
    box-shadow: 1px 2px 1px 1px rgba(212, 212, 212, 0.9);
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
    left: 250px;
    margin-left: -250px;
}

#page-content-wrapper {
    width: 100%;
    min-height: 100%;
    height: 100%;
    position: relative;
    padding: 0;
    z-index: 999;
}

.sidebar-nav {
    height: calc(100% - 60px);
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden
}

.sidebar-nav li a {
    width: 100%;
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid var(--main);
    font-size: 15px;
}

.sidebar-nav li a:hover {
    text-decoration: none
}

.sidebar-content .textName {
    display: none
}

.toggled .sidebar-content .textName {
    display: inline;
    color: #505050;
}

.sidebar-header {
    font-size: 17px;
    padding: 15px;
    color: var(--dark);
    border-bottom: 1px solid var(--main);
}

/**** Arabic Style ****/
.body-ar {
    direction: rtl;
}

.body-ar header .navbar-brand {
    margin: 0 0 0 15px
}

.body-ar .mr-auto,
.mx-auto {
    margin-left: auto !important;
    margin-right: 0 !important
}

.body-ar .translate_wrapper {
    right: auto;
    left: 25px
}

.body-ar #wrapper.toggled #sidebar-wrapper {
    width: 250px;
    right: 250px;
    margin-right: -250px;
    left: auto;
    margin-left: auto;
    text-align: right
}

.body-ar #sidebar-wrapper {
    right: 50px;
    left: auto;
    margin-right: -50px;
    margin-left: auto
}

.body-ar #wrapper.toggled {
    padding-left: 0;
    padding-right: 250px !important;
}

.body-ar .form-check {
    position: relative;
    display: block;
    padding-left: 0;
    padding-right: 1.25rem;
}

.body-ar .form-check-input {
    margin-right: -1.25rem;
}

.body-ar .form_builder {
    padding-right: 50px !important;
    padding-left: 0
}

.body-ar .preview label {
    display: block;
    width: 100%;
    text-align: right
}

.body-ar {
    font-family: NeoSans;
}

.default_blue {
    color: var(--main);
    font-size: 25px;
    padding-right: 5px
}

.default_red {
    color: #f00;
    font-size: 25px;
}

/* start style Loading */

.loading-overlay {
    background: rgba(0, 0, 0, .95);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

div#loader_container {
    width: 300px;
    margin: 50px auto;
    text-align: center;
    padding-top: 50px;
}

div#bar_container {
    height: 24px;
    background: #dcdbd7;
    border-radius: 20px;
    border-top: 1px solid #cfcec9;
    border-bottom: 1px solid #f7f6f4;
    -webkit-box-shadow: 0 -1px 0 #bab9b4;
    box-shadow: 0 -1px 0 #bab9b4;
    margin-bottom: 24px;
    position: relative;
}

div#progress_bar {
    background-color: #dcf1c6;
    background-color:var(--main);
    height: 110%;
    position: absolute;
    top: -3px;
    left: 0px;
    border-top: 1px solid #e5ebf4;
    border-radius: 20px;
    -webkit-box-shadow: 0 3px 10px #717171;
    box-shadow: 0 3px 10px #717171;
    width: 10%;
    -webkit-transition: width 0.1s ease-in-out;
    transition: width 0.1s ease-in-out;
}

div#progress_percentage {
    position: absolute;
    top: -40px;
    right: -10px;
    width: 40px;
    height: 24px;
    padding-top: 6px;
    background: #edeef2;
    border-top: 1px solid white;
    border-right: 1px solid #d2d2d0;
    border-bottom: 1px solid #999999;
    border-left: 1px solid #d2d2d0;
    border-radius: 7px;
    font-size: 10px;
    color: #737371;
    text-shadow: 0 0 2px #bebfc3;
    -webkit-box-shadow: 0 2px 5px #c1c1bf;
    box-shadow: 0 2px 5px #c1c1bf;
    background-color: var(--light);
}

div#progress_percentage::before {
    content: "";
    position: absolute;
    left: 14px;
    bottom: -11px;
    border-top: 5px solid var(--light);
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
}

div#progress_percentage::after {
    content: "";
    position: absolute;
    left: 14px;
    bottom: -10px;
    border-top: 5px solid var(--light);
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
}

div#text_container {
    color: var(--light);
    font-weight: bold;
    font-size: 22px;
}

div#text_container span {
    display: block;
    font-weight: normal;
    font-size: 11px;
    margin-top: 6px;
}

/************** Start Media Query *************/

@media (min-width:992px) and (max-width:1199px) {
    #wrapper.toggled #sidebar-wrapper {
        width: 190px;
        left: 190px;
        margin-left: -190px;
    }

    #wrapper.toggled {
        padding-left: 190px;
    }

    .body-ar #wrapper.toggled #sidebar-wrapper {
        left: auto;
        margin-left: auto;
        right: 190px;
        margin-right: -190px;
        width: 190px;
    }

    .body-ar #wrapper.toggled {
        padding-left: auto;
        padding-right: 190px;
    }

    .sidebar-header {
        font-size: 15px
    }

    .header-title,
    .sidebar-nav li a {
        font-size: 13px
    }

    .card-body {
        padding: 10px
    }
}

@media (min-width:768px) and (max-width:991px) {
    #wrapper.toggled #sidebar-wrapper {
        width: 190px;
        left: 190px;
        margin-left: -190px;
    }

    #wrapper.toggled {
        padding-left: 190px;
    }

    .body-ar #wrapper.toggled #sidebar-wrapper {
        left: auto;
        margin-left: auto;
        right: 190px;
        margin-right: -190px;
        width: 190px;
    }

    .body-ar #wrapper.toggled {
        padding-left: auto;
        padding-right: 190px;
    }

    .sidebar-header {
        font-size: 15px
    }

    .header-title,
    .sidebar-nav li a {
        font-size: 13px
    }

    .card-body {
        padding: 10px
    }
    .sidebar-nav {
        height: calc(100% - 95px);
    }
}

@media (max-width:767px) {
    header .navbar-brand {
        width: 130px
    }
    a#menu-toggle {
        padding: 3px 6px;
        font-size: 13px;
    }
    .translate_wrapper {
        z-index: 1024;
        font-size: 12px;
        right: 15px;
        top: 9px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 160px;
        left: 160px;
        margin-left: -160px;
    }

    #wrapper.toggled {
        padding-left: 160px;
    }

    .body-ar #wrapper.toggled #sidebar-wrapper {
        left: auto;
        margin-left: auto;
        right: 160px;
        margin-right: -160px;
        width: 160px;
    }

    .body-ar #wrapper.toggled {
        padding-left: auto;
        padding-right: 160px;
    }

    .sidebar-header {
        font-size: 14px
    }

    .header-title,
    .sidebar-nav li a {
        font-size: 12px
    }

    .card-body {
        padding: 10px
    }
    .sidebar-nav {
        height: calc(100% - 95px);
    }
    
    #page-content-wrapper .container-fluid,
    #page-content-wrapper .row,
    .col-lg-4.col-md-6.col-12.bal_builder.h-100 {
        height: auto!important;
    }
    .form_builder_area {
        min-height: 45px
    }
    .default_blue {
        padding-bottom:10px
    }
}